<div class="navbar">
	<div class="leftSide">
		<a href="/" class="title">
			<span>P</span>
			<span>r</span>
			<span>o</span>
			<span>b</span>
			<span>a</span>
			<span>b</span>
			<span>l</span>
			<span>y</span>
			<span>S</span>
			<span>o</span>
			<span>m</span>
			<span>e</span>
			<span>t</span>
			<span>h</span>
			<span>i</span>
			<span>n</span>
			<span>g</span>
		</a>
		<div class="btnHolder">
			<button id="blog" onclick="location.href='/blog'">Blog</button>
			<button id="projects" onclick="location.href='/projects'">Projects</button>
			<button id="guestbook" onclick="location.href='/guestbook'">Guestbook</button>
			<button id="ratings" onclick="location.href='/ratings'">Ratings</button>
		</div>

	</div>
	<hr class="divider">
	<div class="dateTime">
		<div id="time"></div>
		<div id="timezone">GMT</div>
		<div id="dayMonth"></div>
	</div>

	<script defer src="assets/js/navbar.js"></script>
</div>
