<h1 class="rightContentTitle">
	Current Status
</h1>
<div class="rightContent">
	Listening to:
	{% assign post = site.musicratings | where:"contentTitle", "Tourist History" | first%}
	<a href="{{ post.url }}" class="sidebarAlbumLink"><div class="sidebarAlbumItem">
		<img src="{{ post.albumCover }}"  class="sidebarAlbumCover">
		<div class="sidebarAlbumInfo">
			<h1>{{ post.contentTitle }}</h1>
			<p>{{ post.contentYear }}</p>
			<p>{{ post.contentArtist }}</p>
		</div>
	</div></a>

	<hr>
	PC Specs:
	<ul>
		<li>Ryzen 5 7600x3d</li>
		<li>Corsair Vengance 32GB DDR5</li>
		<li>XFX AMD Radeon rx9070 xt</li>
		<li>1TB Crucial P3 SSD</li>
		<li>Fedora KDE Plasma</li>
	</ul>
</div>