<div class="leftContentTitle">
	Links
</div>
<div class="leftContent">
	<div class="myBtn">
		<a href="https://probablysomething.co.uk">
			<img src="https://probablysomething.co.uk/assets/buttons/defaultSiteBtn.png">
		</a>
		<p>
		Hotlink this button!
		</p>
		<textarea class="myBtnCode" readonly="">
<a href="https://probablysomething.co.uk"><img src="https://probablysomething.co.uk/assets/buttons/defaultSiteBtn.png"></a>
		</textarea>
	</div>

	<hr>

	Cool Sites:
	<div class="neighbourBtnHolder">
		<a target="_blank" href="https://dimden.dev/"><img src="https://dimden.dev/services/images/88x31.gif"></a>
		<a target="_blank" href="https://xsolimini.fr"><img src="https://xsolimini.fr/images/xsoliminishq88x31.gif"></a>
		<a target="_blank" href="https://temstuff.neocities.org"><img src="https://64.media.tumblr.com/895a6aaf555a60675df300f3b7e7c170/a51f6f9947d2d663-b9/s100x200/8c84ec1b7b493f4fc25f36ebb2d05906a2aa76f3.gif"></a>
		<a target="_blank" href="https://rice.place/"><img src="https://rice.nekoweb.org/button/riceus.gif"></a>
		<a target="_blank" href="https://cinni.net/"><img src="https://cinni.net/images/button/cinni-88x31-hamham.gif"></a>
	</div>

	<a target="_blank" href="https://www.pushbuttonkitty.com/"/>PushButtonKitty</a>
	<a target="_blank" href="https://www.whirlwindnoa.moe/"/>whirlwindnoa</a>

	<hr>

	Webrings:

	<hr>

	My Links:
	<ul class="myLinks">
		<li><a href="https://github.com/ProbablyIdiot" rel="me">Github</a></li>
		<li><a href="mailto:admin@probablysomething.co.uk" rel="me">Email</a></li>
		<li><a href="https://open.spotify.com/user/31ffkaczxkyrvdhgxojm5hjjxdpi?si=d6a82459fb1f4371">Spotify</a></li>
	</ul>
</div>