<h1 class="leftContentTitle">
	Links
</h1>
<div class="leftContent">
	<div class="myBtn">
		<a href="https://probablysomething.co.uk">
			<img src="https://probablysomething.co.uk/assets/buttons/defaultSiteBtn.png">
		</a>
		<p>
		Hotlink this button!
		</p>
		<textarea class="myBtnCode" readonly="">
<a href="https://probablysomething.co.uk"><img src="https://probablysomething.co.uk/assets/buttons/defaultSiteBtn.gif"></a>
		</textarea>
	</div>

	<hr>

	Cool Sites:
	<div class="neighbourBtnHolder">
		<a target="_blank" href="https://dimden.dev/"><img src="https://dimden.dev/services/images/88x31.gif"></a>
		<a target="_blank" href="https://xsolimini.fr"><img src="https://xsolimini.fr/images/xsoliminishq88x31.gif"></a>
		<a target="_blank" href="https://temstuff.neocities.org"><img src="https://64.media.tumblr.com/895a6aaf555a60675df300f3b7e7c170/a51f6f9947d2d663-b9/s100x200/8c84ec1b7b493f4fc25f36ebb2d05906a2aa76f3.gif"></a>
		<a target="_blank" href="https://rice.place/"><img src="https://rice.place/button/riceus.gif"></a>
		<a target="_blank" href="https://cinni.net/"><img src="https://cinni.net/images/button/cinni-88x31-hamham.gif"></a>
		<!-- a target="_blank" href="https://tabf5.com/"><img src="https://tabf5.com/img/button.gif"></a -->
		<a target="_blank" href="https://melankorin.net/"><img src="https://melankorin.net/assets/img/buttons/button-1.gif"></a>
		<a href="https://hideout-one.vercel.app"><img src="https://hideout-one.vercel.app/button.gif"/>
</a>
	</div>

	<a target="_blank" href="https://www.pushbuttonkitty.com/"/>PushButtonKitty</a>
	<a target="_blank" href="https://www.whirlwindnoa.moe/"/>whirlwindnoa</a>
	<a target="_blank" href="https://tabf5.com/img/button.gif"/>TabF5</a>

	<hr>

	Webrings:
		<div class="webringHolder">
			<div>
				<a href="https://xn--sr8hvo.ws/previous">←</a>
				<a class="ringLink" href="https://xn--sr8hvo.ws">IndieWeb Webring</a> 🕸💍
				<a href="https://xn--sr8hvo.ws/next">→</a>
			</div>
			 <map name="w95widget">
<area href="https://baccyflap.com/noai" target="_blank" shape="rect" coords="0,0,308,22" alt="no ai webring" title="no ai webring">
<area href="https://baccyflap.com/noai/?prv&s=prb" target="_top" shape="rect" coords="56,36,130,58" alt="previous" title="previous">
<area href="https://baccyflap.com/noai/?rnd" target="_top" shape="rect" coords="137,36,211,58" alt="random" title="random">
<area href="https://baccyflap.com/noai/?nxt&s=prb" target="_top" shape="rect" coords="218,36,292,58" alt="next" title="next">
</map>
<img usemap="#w95widget" src="https://baccyflap.com/noai/w95widget.gif" alt="a gray Windows 95 style dialog box titled 'The No AI Webring' with a little icon showing a computer chip in a rubbish bin. beside it are three clickable buttons, labeled Previous, Random... and Next"> 
		</div>
	<hr>

	My Links:
	<ul class="myLinks">
		<li><a href="https://github.com/ProbablyIdiot" rel="me">Github</a></li>
		<li><a href="mailto:admin@probablysomething.co.uk" rel="me">Email</a></li>
		<li><a href="https://open.spotify.com/user/31ffkaczxkyrvdhgxojm5hjjxdpi?si=d6a82459fb1f4371">Spotify</a></li>
	</ul>
	admin@probablysomething.co.uk
</div>