@font-face {
	font-family: pixelArial;
	src: url(/assets/fonts/PIXEARG.TTF);
	size-adjust: 90%;
}

@font-face {
	font-family: pixelArial;
	src: url(/assets/fonts/PIXEAB.TTF);
	font-weight: bold;
}

* {
	font-family: pixelArial;
	color:  #fbffeb ;
	letter-spacing: 0.08em;
	font-size: 1em;
}

body {
	background-color: #0d0023;
}

.mainHolder {
	margin: -10px 0 0 0;
	padding: 0;
	display: flex;
	align-items: flex-start;
    justify-content: center;
	flex-direction: row;
	flex-wrap: nowrap;
	gap: 30px;
}

.mainbar {
	width: 50%;
	min-width: 500px;
}