.mainbar > * {
	margin:  10px;
}

.mainContentTitle {
	background-color: #0d0023;
	font-family: pixelArial;
	position: relative;
	z-index: 2;
	width: min-content;
	text-wrap: nowrap;
	margin-left: 20px;
	font-size: 1.2em;
}

.mainContent {
	border-radius: 3px;
	padding: 20px;
	margin-top: -25px;
	position: relative;
	z-index: 1;
	text-wrap: stable;
}