@font-face {
	font-family: siteTitle;
	src: url(/assets/fonts/siteTitle.ttf);
}

.navbar {
	-border: 3px solid #fbffeb;
	padding-top: 10px;
	padding-bottom: 20px;
	width: 855px;
	position: relative;
	z-index: 1;
	display: flex;
	flex-direction: row;
}

.leftSide {
	width: 100%;
}

.title {
	text-decoration: none;
	width: 100%;
}

.title > * {
	margin: -5px;
	display: inline;
	font-family: siteTitle;
	font-size: 2.5em;
	color: #ffc900;
}

.dateTime {
	display: grid;
	gap: 5px;
	grid-template-columns: auto auto;
	margin-top: .5em;
}

.dateTime > * {
	font-family: siteTitle;
}

#dayMonth {
	font-size: 1em;
	text-align: end;
}

#time {
	font-size: 2em;
	white-space: nowrap;
}