.sidebarl {
	width: 20%;
	min-width: 180px;
}

.leftContentTitle {
	background-color: #0d0023;
	color: #ffc900;
	font-family: pixelArial;
	position: relative;
	z-index: 2;
	width: min-content;
	margin: 123px 0 0 10px;
	font-size: 1.2em;
}

.leftContent {
	border: 3px solid #ffc900;
	border-radius: 3px;
	padding: 20px;
	margin-top: -15px;
	position: relative;
	z-index: 1;
	text-wrap: stable;
	text-align: center;
}

.myBtn {
	text-align: center;
}

.myBtnCode {
	overflow: scroll;
	background-color: #0d0023;
	font-size: 0.75em;
	resize: none;
	min-width: 120px;
	max-width: 200px;
	overflow-wrap: anywhere;
	word-break: break-all;
}

.neighbourBtnHolder {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
	column-gap: 10px;
	row-gap: 10px;
	margin: 10px;
}

.webringHolder {
	display: flex;
	flex-direction: column;
	margin: 10px;
}

.myLinks {
	text-align: left;
}

.myLinks > li > a{
	color: #b213b9;
}