.sidebarl {
	width: 20%;
	min-width: 180px;
}

.leftContentTitle {
	background-color: #0d0023;
	color: #ffc900;
	font-family: pixelArialBold;
	position: relative;
	z-index: 2;
	width: 117px;
	margin: 123px 0 0 10px;
	font-size: 1.2em;
}

.leftContent {
	border: 3px solid #ffc900;
	border-radius: 3px;
	padding: 20px;
	margin-top: -15px;
	position: relative;
	z-index: 1;
	text-wrap: stable;
}