@font-face {
	font-family: pixelArial;
	src: url(/assets/pixel_arial_11/PIXEARG.TTF);
}
@font-face {
	font-family: pixelArialBold;
	src: url(/assets/pixel_arial_11/PIXEAB.TTF);
}

* {
	font-family: pixelArial;
	background-color: #0D0023;
	color:  #fbffeb ;
	letter-spacing: 0.08em;
	font-size: 1.1rem;
}

.mainHolder {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	gap: 30px;
}

.mainContentHolder {
	color: #b2ff00;
	font-family: pixelArialBold;
}

.mainContent {
	font-family: pixelArial;
	border: 2px solid #b2ff00;
	padding: 20px;
	width: 800px;
}