@font-face {
	font-family: pixelArial;
	src: url(/assets/pixel_arial_11/PIXEARG.TTF);
}
@font-face {
	font-family: pixelArialBold;
	src: url(/assets/pixel_arial_11/PIXEAB.TTF);
}

* {
	font-family: pixelArial;
	/*background-image: url(/assets/images/bkgV1.png); */
	background-repeat: repeat;
	background-size: 30px;
	color:  #fbffeb ;
	letter-spacing: 0.08em;
	font-size: 1em;
}

.mainHolder {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	gap: 30px;
}

.mainContentTitle {
	color: #b2ff00;
	font-family: pixelArialBold;
	position: relative;
	z-index: 2;
	width: 65px;
	margin-left: 20px;
	font-size: 1.2em;
}

.mainContent {
	font-family: pixelArial;
	border: 3px solid #b2ff00;
	padding: 20px;
	margin-top: -15px;
	width: 800px;
	position: relative;
	z-index: 1;
}