.ratingsHolder {
	display: grid;
	grid-template-columns: 47.5% 47.5%;
	gap: 5%;
	margin: 20px;
}

.ratingsHolder > a {
	text-decoration: none;
}

.albumItem {
	display: flex;
	flex-direction: row;
	border-radius: 3px;
	border: 3px #007d8d solid;
}

.albumItem:hover {
	transform: scale(1.05);
}

.albumCover{
	height: 6.5em;
	image-rendering: smooth;
	margin: 3px;
}

.albumTitle {
	word-wrap: break-word;
	overflow: hidden;
	max-height: 2.5em;
	height: 2.5em;
	font-size: 1.25em;
}

.albumInfo {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.albumInfo > * {
	margin: 3px;
}

.libEntryHolder {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.libEntryLeft {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	width: 70%;
	align-items: center;
}

.libEntryName {
	margin: 5px;
}