---
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{{ page.title }}</title>
		<link rel="stylesheet" href="assets/css/styles.css">
	</head>
	<body>
		<div class="mainHolder">
			<div class="sidebarl">
				{% include sidebarL.html %}
			</div>
			<div class="mainbar">
				{% include navbar.html %}
				<div class="mainContentTitle" style="color: {{ page.colour }}">
					Title
				</div>
				<div class="mainContent"style="border: 3px solid {{ page.colour }}">
					{{ page.content }}
				</div>
			</div>
			<div class="sidebarr">
				{% include sidebarR.html %}
			</div>
		</div>
	</body>
</html>