---
---

<!DOCTYPE html>
<html>
	<head>
		<meta charset=utf-8>
		<title>{{ page.title }}</title>
		{% if page.customStyle %}
			<link rel="stylesheet" href="{{ page.customStyle }}">
		{% endif %}
		<link rel="stylesheet" href="/assets/css/styles.css">
		<link rel="alternate" type="application/rss+xml" href="/rss/feedGen.xml" title="ProbablySomething Blog">
		<link rel="alternate" type="application/rss+xml" href="/rss/changeGen.xml" title="ProbablySomething Changelog">
	</head>
	<body>
		<div class="mainHolder">
			<div class="sidebarl">
				{% include sidebarL.html %}
			</div>
			<div class="mainbar">
				{% include navbar.html %}
				<h1 class="mainContentTitle" style="color: {{ page.colour }}">
					{{ page.contentTitle }}
				</h1>
				<div class="mainContent"style="border: 3px solid {{ page.colour }}">
					{{ content }}
				</div>
			</div>
			<div class="sidebarr">
				{% include sidebarR.html %}
			</div>
		</div>
		<div class="footer">
			{% include footer.html %}
		</div>
	</body>
</html>